{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home | ConnectHub</title>

    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar">

        <div class="logo">
            ConnectHub
        </div>

        <div class="nav-links">
            <a href="{% url "homeView" %}">Home</a>

            {% if user.is_authenticated %}

                <a href="{% url 'profileView' user.id %}">Profile</a>

            {% else %}

            <a href="{% url 'loginView' %}">Profile</a>

            {% endif %}

            {% if user.is_authenticated %}

                <form method="POST" action="{% url 'logoutView' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>

            {% else %}

                <a href="{% url 'loginView' %}">Login</a>

            {% endif %}
        </div>

    </nav>


    <!-- Main Content -->
    <main class="container">

        <section class="welcome">
            <h1>Welcome to ConnectHub 👋</h1>

            <p>
                Connect with people, share your thoughts and discover new posts.
            </p>
        </section>


        <section class="create-post">

            <h2>What's on your mind?</h2>

            <p>Share something with your friends...</p>

            <a href="{% url 'create_post_View' %}" class="create-post-btn">
                Create Post
            </a>

        </section>


        <!-- Posts -->
        {% for post in posts %}

        <section class="feed">

        <div class="post-card" id="like-{{ post.id }}">

        <!-- User -->
        <div class="post-header">
            <strong>{{ post.author.username }}</strong>
        </div>

        <!-- Content -->
        <div class="post-content">
            <p>{{ post.content }}</p>
        </div>

        <!-- Image -->
        {% for image in post.images.all %}
            <img src="{{ image.image.url }}" class="post-image">
        {% endfor %}

        <!-- Like -->
        <div class="post-actions">
            </form>
            <form method="POST" action="{% url 'like_post_View' post.id %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">❤️ Like</button>
                </form>

            <span id="comment-{{ post.id }}">
                {{ post.likes.count }} Likes
            </span>

        </div>


        <!-- Comments -->
        <div class="comments">

            {% for comment in post.comments.all %}

                <div class="comment">
                    <strong>
                        {{ comment.author.username }}
                    </strong>

                    <p>
                        {{ comment.text }}
                    </p>
                </div>

            {% empty %}

                <p>No comments yet.</p>

            {% endfor %}


            <!-- Add Comment -->
            <form
                method="POST"
                action="{% url 'add_comment_View' post.id %}"
            >

                {% csrf_token %}

                <input
                    type="text"
                    name="text"
                    placeholder="Write a comment..."
                    required
                >

                <button type="submit">
                    Comment
                </button>

            </form>

        </div>


        <!-- Edit / Delete -->
        {% if post.author == user %}

            <div class="post-owner-actions">

                <a href="{% url 'edit_post_View' post.id %}">
                    Edit
                </a>

                <a href="{% url 'delete_post_View' post.id %}">
                    Delete
                </a>

            </div>

        {% endif %}

        </div>

        </section>


        {% empty %}

        <p class="no-posts">
        No posts yet. Be the first to post!
        </p>

        {% endfor %}

        </section>

    </main>

</body>
</html>