* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background: #0d1020;
    color: white;
}

.auth-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.auth-card {
    width: 100%;
    max-width: 420px;
    background: #171b2e;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
}

.auth-card h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}

.subtitle {
    text-align: center;
    color: #a7acc0;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #d8dbea;
}

.form-group input {
    width: 100%;
    padding: 13px 14px;

    border: 1px solid #30364f;
    border-radius: 8px;

    background: #0f1324;
    color: white;

    outline: none;
    font-size: 15px;
}

.form-group input:focus {
    border-color: #6c63ff;
}

.auth-card button {
    width: 100%;
    padding: 13px;

    border: none;
    border-radius: 8px;

    background: #6c63ff;
    color: white;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}

.auth-card button:hover {
    background: #574fe6;
}

.error {
    padding: 10px;
    background: #3a1d27;
    border-radius: 8px;
    color: #ff7b7b;
    text-align: center;
    margin-bottom: 20px;
}

.bottom-text {
    text-align: center;
    margin-top: 25px;
    color: #a7acc0;
    font-size: 14px;
}

.bottom-text a {
    color: #8179ff;
    text-decoration: none;
    font-weight: bold;
}